

    <script>
        //var topMenu = document.querySelector(".menu");
        //topMenu.addEventListener("mouseenter",function(){
        //    document.querySelector("body").style.background = "#777";
        //})
        //topMenu.addEventListener("mouseleave",function(){
        //    document.querySelector("body").style.background = "#fff";
        //})
    </script>
</body>
</html>