<h1>Welcome to the movie search</h1>

<div>
    <form action="/movieLists" method="GET">
    
    <input type="text" name="search" placeholder="search movies">
    <button>submit</button>
    
    </form>
</div>